.no-textdecoration {
  text-decoration: none;
  color: inherit;
}

.bread {
  text-decoration: none;
}

.popover-notification-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
  padding-right: 3%;
  border-style: solid;
  border-width: 0;
  border-top-width: .5px;
  border-color: gray;
}

.native-popover-notification {
  padding: 0;
}

.popover-notification-list {
  overflow: scroll;
  max-height: 300px;
}



.notification-area-title {
  background-color: rgba(0,0,0,.03);
  font-size: 1rem;
  padding: 2%;
  padding-left: 5%;
  font-weight: bold;
  text-align: left;
}


.Breadcrumb-wrapper {
  /*display: flex;*/
  padding: 1.5%;
  border-radius: 20px;
  background-color: #e1edf9;
  margin-left: 11.5%;
  margin-right: 11.5%;
  margin-bottom: 1%;
  margin-top: 80px;
}

.bread {
  color: blue;
  font-size: .95rem;
  font-weight: bold;
}

#logo {
  width: 60px;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  background: #eef1f6;
  height: 3%;
  z-index: 999;
  opacity: 1;
}

.el-menu-item {
  /*padding-left: 3%;
  padding-right: 3%;*/
}

.left-menu {
  margin-left: 13%;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-menu > .el-menu--horizontal > .el-menu-item {
  margin-right: 10%;
  padding: 0;
  max-width: 60%;
}

.left-menu > .el-menu--horizontal > .el-menu-item:first-child {
  margin-left: 5%;
}

.left-menu > .el-menu--horizontal > .el-menu-item > a{
  /* padding-left: 20%; */
  padding-right: 5%;
}


.el-menu {
  display: flex;
  justify-content: flex-start;
}

.right-menu {
  margin-right: 8%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.index-link {
  font-size: 21px;
  margin-right: 3%;
  font-weight: bolder;
  color: #007bff;
}

.index-link:hover {
  color: #20a0ff;
  cursor: pointer;
}

.global-search {
  display:flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.profile-area {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

.profile-area:hover {
  /*cursor: pointer;
  color: red;*/
}

.dropdown-item {
  display: flex;
  justify-content: space-around;
  color: black;
  text-decoration: none;
  font-size: .9rem;
  padding-top: 9%;
  padding-bottom: 9%;
}

.dropdown-item:first-child {
  padding-top: 9%;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  border-bottom-color: #eef1f6;
}

.dropdown-item:last-child {
  padding-bottom: 9%;
}

.dropdown-item:hover {
  cursor: pointer;
  color: black;
  background-color: #eef1f6;
}

.dropdown-item > div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head-img {
  margin-right: 8%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  background-position: center center;
  background-size: cover;
}

.el-dropdown-link {
  margin-left: 3px;
}

.notification-area:hover {
  cursor: pointer;
  opacity: 0.5;
}

.el-menu-item > a{
  padding-top: 50% ;
  padding-bottom: 50% ;
}

.empty-notification-list {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #909090;
  font-style: italic;
  font-size: .9rem;
}

.popover-dropdown-menu ul {
  margin: 0;
  padding: 0;
}

.popover-dropdown-menu a {
  text-decoration: none;
}

.popover-dropdown-menu {
  padding: 0;
}

.popover-dropdown-menu-wrapper {
  padding: 0;
}

.user-menu-area {
  font-size: .9rem;
  display: flex;
  align-items: flex-end;
}

.user-menu-area {
  cursor: pointer;
}

.el-menu-demo a {
  text-decoration: none;
}
